<!DOCTYPE html>
<html>
<head>
    <title>Chatbot QnA</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <script src="static/js/jquery-3.4.1.min.js"></script>
</head>

<body>
    <section style="min-height: 85vh;">
        <div class="container-fluid" style="margin-top: 50px;">
            <div class="row justify-content-center">
                <!-- Application Title -->
                <div class="col-md-12 title-section">
                    <h1 class="text-center">Monitor Virtual - Demo: Closed</h1>
                </div>
                <div class="col-md-8">
                    <div id="chatbox" class="panel-heading chatbox clearfix border">
                        <div class="panel-title reply">Closed</div>
                    </div>
                    <div class="input-group" width="100%">
                        <input id="text-input" type="text" name="input" class="form-control border-top-0"/>
                        <div class="input-group-append">
                        </div>
                    </div>
                </div>
                <!-- /ChatBox -->
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid">
            <footer class="footer">
                <br/>
            </footer>
        </div>
    </section>
</body>

</html>